<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
</head>
<body id="body">
    <!-- After user is log in -->
    <div class="otsikko">
        <h1 class="h1"><span id="teksti"></span> {{ Username }}</h1>
        <p id="userid">Your UserID: {{ UserID2 }}</p>   
        <a class="logout" href="{{ url_for('Signin') }}">Log out</a>
        <button onclick="mode()" class="mode">Dark mode</button>
    </div>
    <br>
    <div class="main" id="main">
        <ol class="list">
            <li onclick="nayta('todo')" id="todo">Todo</li>
            <li onclick="nayta('blogi')" id="blogi">Blogi</li>
            <li onclick="nayta('calenter')" id="calenter">Calenter</li>
        </ol>
        <div class="div" id="tododiv">
            <div id="todo_inside">
                <input type="text" name="task" placeholder="Give the task" id="addTask">
                <input placeholder="delete task" id="DeleteTask">
                <p id="todo_p">Task is added after enter is pressed</p>
                <p id="task"></p>
            </div>
        </div>
        
        <div class="div" id="blogidiv">
            <form action="{{ url_for("blogi")}}" method="post">
                <h3 id="blog_title">Blog</h3>
                <input name="title" id="title" placeholder="title" required>
                <br>
                <br>
                <textarea name="text" id="text" rows="4" cols="50" placeholder="text" required></textarea>
                <br>
                <input type="submit" value="Submit" id="Submit">
            </form>
        </div>

        <div class="div" id="calenterdiv">
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='page.js') }}"></script>
</body>
</html> 