<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <style>
        .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
        
        .otsikko {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            width: 50%;
            height: 100%;
        }

    </style>
</head>
<body>
    <!-- After user is log in -->
    <div class="otsikko">
        <h1 class="h1" style="text-align: center;"><span id="teksti"></span> {{ Username }}</h1>
        <p style="font-size: 0.8rem; float: left; margin-left: 1.2rem;">Your UserID: {{ UserID2 }}</p>   
    </div>

    <div class="main" id="main">
        
    </div>
    
    <script>
        const aika = new Date();
        const tunti = aika.getHours();
        let teksti = "";
        console.log(tunti)
        if (tunti < 12) {
            teksti = "Good morning"
        } else if (tunti > 12 && tunti < 18) {
            teksti = "Good afternoon"
        } else if (tunti > 18 && tunti < 22) {
            teksti = "Good evening"
        }
        document.getElementById("teksti").innerHTML = teksti;
    </script>
</body>
</html>